@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(96, 96, 96, 0.619);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    background-color: rgba(107, 107, 107, 0.527);
    width: 400px;
    font-size: 2em;
}
p{
    font-size: 1.5em;
}
section#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}